 

.section {
     width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 28px;
    padding-right: 32.25px;
@media screen and (min-width: 1024px) {
    width: 100%;
    padding-left: 66.13px;
    padding-right: 68.27px; 
} 
@media  screen and (min-width: 1440px) { 
    width: 100%;
    padding-left: 93px;
    padding-right : 96px; 
   }
}
.page {
   color: var(--main-colorFont) ;
   background-color:var(--main-colorBack); 
   font-family: "Poppins", sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 26.92px;
   letter-spacing: 0.03em;
   position: static; 
   margin-left: 0px;
   margin-right: 0px;
   position: static;
}
.page.no-scroll {
   overflow-y: hidden;
}
